In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import clear_output
from time import sleep
import os

In [2]:
csv_path = 'via_export_csv_test.csv'
csv_data = pd.read_csv(csv_path)  
csv_path_final = 'testimgface.csv'

In [3]:
csv_data.head()

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,0,"{""name"":""point"",""cx"":117,""cy"":128}",{}
1,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,1,"{""name"":""point"",""cx"":127,""cy"":126}",{}
2,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,2,"{""name"":""point"",""cx"":133,""cy"":123}",{}
3,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,3,"{""name"":""point"",""cx"":149,""cy"":122}",{}
4,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,4,"{""name"":""point"",""cx"":157,""cy"":117}",{}

In [4]:
csv_data['cx'] = csv_data.region_shape_attributes.str.extract('name":"point","cx":([^,"cy"]*)')
csv_data['cy'] = csv_data.region_shape_attributes.str.extract(',"cy":([^}]*)')
csv_data.head()

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes,cx,cy
0,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,0,"{""name"":""point"",""cx"":117,""cy"":128}",{},117,128
1,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,1,"{""name"":""point"",""cx"":127,""cy"":126}",{},127,126
2,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,2,"{""name"":""point"",""cx"":133,""cy"":123}",{},133,123
3,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,3,"{""name"":""point"",""cx"":149,""cy"":122}",{},149,122
4,testimg_1.jpg,17351,"{""series"":"""",""frame_id"":""""}",16,4,"{""name"":""point"",""cx"":157,""cy"":117}",{},157,117

In [5]:
pivoted = csv_data.pivot(index='filename', columns='region_id', values=['cx','cy'])

In [6]:
pivoted.to_csv (csv_path_final, index = True, header=True)

In [7]:
csv_final = pd.read_csv(csv_path_final)  

csv_final = csv_final[['cx', 'cy', 'cx.1', 'cy.1', 'cx.2', 'cy.2', 'cx.3', 'cy.3', 'cx.4', 'cy.4', 'cx.5', 'cy.5', 'cx.6', 'cy.6', 'cx.7', 'cy.7', 'cx.8', 'cy.8', 'cx.9', 'cy.9', 'cx.10', 'cy.10', 'cx.11', 'cy.11', 'cx.12', 'cy.12', 'cx.13', 'cy.13', 'cx.14', 'cy.14', 'cx.15', 'cy.15', 'Unnamed: 0']]
csv_final.rename(columns={'cx': "0x", 'cy': '0y', 'cx.1': '1x', 'cy.1': '1y', 'cx.2': '2x', 'cy.2': '2y', 'cx.3': '3x', 'cy.3': '3y', 'cx.4': '4x', 'cy.4': '4y', 'cx.5': '5x', 'cy.5': '5y', 'cx.6': '6x', 'cy.6': '6y', 'cx.7': '7x', 'cy.7': '7y', 'cx.8': '8x', 'cy.8': '8y', 'cx.9': '9x', 'cy.9': '9y', 'cx.10': '10x', 'cy.10': '10y', 'cx.11': '11x', 'cy.11': '11y', 'cx.12': '12x', 'cy.12': '12y', 'cx.13': '13x', 'cy.13': '13y', 'cx.14': '14x', 'cy.14': '14y', 'cx.15': '15x', 'cy.15': '15y', 'Unnamed: 0': 'image'}, inplace=True)

In [8]:
csv_final.drop(index=[0,1], inplace=True)

In [9]:
csv_final.to_csv (csv_path_final, index = True, header=True)

In [10]:
df = pd.read_csv(csv_path_final)
first_column = df.columns[0]

In [11]:
df = df.drop([first_column], axis=1)

In [12]:
df.to_csv(csv_path_final, index=False)
print (df)

      0x     0y     1x     1y     2x     2y     3x     3y     4x     4y  \
0  117.0  128.0  127.0  126.0  133.0  123.0  149.0  122.0  157.0  117.0
1   87.0   71.0  109.0   71.0  123.0   75.0  180.0   75.0  193.0   70.0
2  123.0  154.0  138.0  150.0  156.0  150.0  197.0  155.0  206.0  154.0
3  116.0  121.0  123.0  117.0  132.0  114.0  152.0  111.0  164.0  101.0
4   87.0  145.0   94.0  141.0  103.0  137.0  140.0  135.0  152.0  131.0
5  108.0  149.0  118.0  141.0  126.0  135.0  155.0  127.0  171.0  127.0
6  109.0  150.0  116.0  142.0  127.0  135.0  155.0  128.0  166.0  128.0

       ...          11y    12x    12y    13x    13y    14x    14y    15x  \
0      ...        160.0  175.0  187.0  158.0  205.0  130.0  192.0  119.0
1      ...        126.0  213.0  152.0  148.0  170.0  106.0  158.0   71.0
2      ...        193.0  203.0  217.0  170.0  228.0  133.0  218.0  104.0
3      ...        160.0  184.0  186.0  152.0  219.0  127.0  204.0  118.0
4      ...        172.0  182.0  192.0  149.0  214.0  111.0  207.0   91.0
5      ...        181.0  198.0  210.0  171.0  241.0  123.0  221.0  114.0
6      ...        184.0  205.0  206.0  157.0  244.0  125.0  226.0  105.0

     15y          image
0  170.0  testimg_1.jpg
1  119.0  testimg_2.jpg
2  190.0  testimg_3.jpg
3  172.0  testimg_4.jpg
4  184.0  testimg_5.jpg
5  197.0  testimg_6.jpg
6  194.0  testimg_7.jpg

[7 rows x 33 columns]